 .u-section-1 {
  filter: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/eso2401a.jpg');
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 674px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 80px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 350px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 0 -102px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 13px -102px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 13px -102px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 350px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 8px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 11px auto 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  line-height: 1;
  margin: 0;
}

.u-section-1 .u-group-1 {
  --radius: 30px;
  width: 1114px;
  min-height: 124px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33));
  background-size: cover;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 59px 0 0 702px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 289px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 165px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 165px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 165px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-1 .u-image-1 {
    width: 297px;
    height: 297px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 13px;
    margin-left: 502px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 224px;
    height: 224px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 282px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 102px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }
} .u-section-2 {
  filter: none;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 349px;
}

.u-section-2 .u-text-1 {
  margin: 23px 85px 0;
}

.u-section-2 .u-text-2 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 839px;
  margin: 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1155px;
  margin: 0 auto 0 -15px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 204px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 42px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  background-image: none;
  height: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 9px auto 0;
  padding: 6px;
}

.u-section-2 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 204px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 8px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  background-image: none;
  height: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
  padding: 6px;
}

.u-section-2 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: 30px auto 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 166px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 72px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 245px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 36px auto 0;
}

.u-section-3 .u-slider-1 {
  min-height: 175px;
  margin-top: 10px;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 94px;
}

.u-section-3 .u-text-3 {
  line-height: 1;
  font-size: 1rem;
  margin: 10px 94px 0 auto;
}

.u-section-3 .u-text-4 {
  line-height: 1;
  font-size: 1rem;
  margin: -32px auto 0 94px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 144px;
}

.u-section-3 .u-text-6 {
  line-height: 1;
  font-size: 1rem;
  margin: 10px 144px 0 auto;
}

.u-section-3 .u-text-7 {
  line-height: 1;
  font-size: 1rem;
  margin: -32px auto 16px 144px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 94px;
}

.u-section-3 .u-text-9 {
  line-height: 1;
  font-size: 1rem;
  margin: 10px 94px 0 auto;
}

.u-section-3 .u-text-10 {
  line-height: 1;
  font-size: 1rem;
  margin: -16px auto 16px 94px;
}

.u-section-3 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-3 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 44px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-7 {
    margin-left: 91px;
  }
}