 .u-section-1 {
  filter: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/eso2401a.jpg');
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 652px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 144px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 334px;
}

.u-section-1 .u-container-layout-1 {
  padding: 36px 0 30px;
}

.u-section-1 .u-text-1 {
  margin: 23px -102px 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 -102px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 23px -102px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 334px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 8px;
}

.u-section-1 .u-image-1 {
  width: 280px;
  height: 280px;
  margin: 11px auto 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  line-height: 1;
  margin: 0;
}

.u-section-1 .u-group-1 {
  --radius: 30px;
  width: 1114px;
  min-height: 124px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33));
  background-size: cover;
  margin: 10px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  font-size: 1rem;
  margin: 10px 0 5px 702px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 132px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 275px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-top: 16px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -15px;
    margin-left: 502px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 153px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 19px;
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-image-1 {
    width: 224px;
    height: 224px;
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 10px;
    margin-right: 6px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 3px;
    margin-left: 282px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 197px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.375rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 16px;
    margin-left: 102px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1211px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 283px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 298px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 9px;
    margin-left: 0;
    margin-bottom: 0;
  }
} .u-section-2 {
  filter: none;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 283px;
}

.u-section-2 .u-text-1 {
  margin: 23px 85px 0;
}

.u-section-2 .u-text-2 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 839px;
  margin: 0 auto;
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: 8px auto 0;
}

.u-section-2 .u-table-1 {
  width: 678px;
  margin: 9px auto 7px;
}

.u-block-5d9e-96 {
  height: 47px;
}

.u-section-2 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-3 {
  font-weight: 700;
}

.u-block-5d9e-111 {
  height: 47px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-table-1 {
    margin-bottom: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-table-1 {
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
    margin-bottom: 35px;
  }
}